@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.PlayerCard {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;

  .player-info-container {
    display: flex;
    flex-direction: column;

    .player-name {
      margin: 5px 0;
      font-weight: bold;
    }

    .player-info {
      .player-img {
        height: 200px;
        width: 200px;
      }

      .player-details {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
      }

      .fade-out {
        opacity:0;
        width:0;
        height:0;
        transition: opacity 0.5s ease-out;
      }

      .fade-in{
        opacity:1;
        width:200px;
        height:200px;
        transition: opacity 0.5s ease-in;
      }

      .front.fade-out {
        visibility: hidden;
      }
    }

    .guess-btn {
      font-size: 12px;
      height: 25px;
    }
  }
}