@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.PlayerCard {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;

  .player-container {
    display: flex;
    flex-direction: column;

    .player-name {
      margin: 5px 0;
      font-weight: bold;
    }

    .player-img {
      height: 200px;
      width: 200px;
    }

    .guess-btn {
      font-size: 12px;
      height: 25px;
    }
  }
}