@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.App {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  text-align: center;
}

button {
  border: none;
  background: #e7e7e7;
  font-family: 'Nunito Sans', sans-serif;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #1493ff;
  color: white;
}